<div class="profile">
    <h1>Profile</h1>
    <div class="card">
        <div class="section">
            <p class="left">Name :</p>
            <p class="right"><%= data.name%></p>
        </div>
        <div class="section">
            <p class="left">Email :</p>
            <p class="right"><%= data.email%></p>
        </div>
        <div class="section">
            <p class="left">Password:</p>
            <p class="right"><%= data.password%></p>
        </div>
        <div class="section">
            <p class="left">Address:</p>
            <p class="right"><%= data.address%></p>
        </div>
        <div class="section">
            <p class="left">Qualification:</p>
            <p class="right"><%= data.qualification%></p>
        </div>
        <div class="section">
            <p class="left">Department:</p>
            <p class="right"><%= data.department%></p>
        </div>
    </div>
</div>